<!DOCTYPE html>
<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <meta charset="utf-8">
        <title>New Project</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
                background:whitesmoke;
            }
            .gallery{
                background: rgba(39,62,84,0.82);
                position: relative;
            }
            nav{
                background: black;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 100%;
                margin: 0 ;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 100%;
                margin: 30px ;
                padding: 0 10px;
                color: #333;
            }
            div.gallery:hover {
            border: 1px solid #777;
            }

            div.gallery img {
            width: 100%;
            height: auto;
            }

            div.desc {
            padding: 15px;
            text-align: center;
            }             
            .bottom-left {
            position: absolute;
            bottom: 8px;
            left: 16px;
            }  
            .status_pic{
              padding-left: 100px; 
              width: 1000px;               
            } 
            strong{              
                color: #08d405;
            }  
            .status_box{
              padding: 0px 0px 30px 200px;
            }     
            .img{
              padding-top: 5px;
              width: 400px;
            }   
            .form-control{
              width: 80% !important;
            }   
            .image-upload > input
            {
                display: none;
                
            }
            .image-upload img
            {
                width: 40px;
                cursor: pointer;
                padding-top: 5px;
            }   
            h1{
              color: black;
            }     
            .display_pic{
              width: 50px;
            }        
            .user_thumbnail{
                border-radius: 50%;
            }
            nav li img{
                float: right;
                width: 30px;
                height: 30px;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                  <li><a href="/homepage">Home</a></li>
                  <li><a href="/profile">Profile</a></li>
                  <li><a href="/chat">Chat</a></li>
                  <li style="float:right"><a href="/auth/logout">Log out</a></li>
                  <li style="float: right"><img class='user_thumbnail' src="<%= user.thumbnail %>" /></li>
                <% } else { %>
                  <li><a href="/auth/login">Login</a></li>
                <% } %>
            </ul>
        </nav>
        <% if (user) { %>
        <h2 style="display:none;" id="uid"><%= user.id %></h2>
        <h2 style="display:none;" id="username"><%= user.username %></h2>   
        <% } %>     
        <div class="status_box">
          <h1>Express it!</h1>
          <div class='write_something'>
              <textarea name="status" id="status" cols="90" rows="2" class="form-control"></textarea>
          </div>
          <div class="image-upload">
            <label for="file-input">
                <img id='input_file' src="https://cdn0.iconfinder.com/data/icons/basic-outline/64/icon-basic-set_12-camera-512.png"/>
            </label>        
            <input id="file-input" class="img" type="file"/>
            <button class="btn btn-primary" id='update'>Update</button>
        </div>
          <img class="photo">     
        </div>
        <ul id="append"></ul>
        <div class="container" >
        </div>
    </body>
</html>
<script>
  var socket = io.connect('http://localhost:8080' || window.location.hostname);

  $(document).ready(function() {
            console.log('requesting data')
            socket.emit('please_aaja')
        })
  socket.on('dashboard_status', function(data) {  
                //console.log(data)
                console.log('details',data)    
                for (var x=0;x<data.length;x+= 2){
                  //console.log(x)
                  //console.log('data',data[x])
                  var q = data[x]
                  var details = {}
                  details.username = q[0].username
                  details.dp = q[0].thumbnail
                  details.status = data[x+1].status
                  var hideornot = ""
                  if (data[x+1].img.data){
                    details.img = data[x+1].img.data.data
                    var arrayBufferView = new Uint8Array(details.img);
                    var blob = new Blob( [ arrayBufferView ], { type: "image/jpeg" } );
                    var urlCreator = window.URL || window.webkitURL;
                    var imageUrl = urlCreator.createObjectURL( blob );       
                  }
                  else{
                    hideornot = 'hidden'
                  }                         
                  var html=""                             
                  html += "<div class='container'><div class='row'><div class='col-md-4'><h2><img src='"+details.dp+"' class='display_pic'>"+details.username+"</h2><p>"+details.status+"</p><img class='status_pic' src='"+imageUrl+"' "+hideornot+"></div></div></div>"
                  $("#append").append(html);    
                }
              });
              $(document.body).on('click',"#update",function(){
                  var blobFile = $('.img').get(0).files[0]
                  var data={}
                  data.id = $("#uid").html(); 
                  data.name = $("#username").html();
                  data.status = $('#status').val(); 
                  data.file = blobFile;
                  socket.emit('status_update',data);
                  $('#status').val('') 
                  $('#input_file').val('').clone(true)  
                  console.log('button clicked!',data)       
              })                            
</script>