<!DOCTYPE html>
<html>
    <head>
        <script src=" http://localhost:3000/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <meta charset="utf-8">
        <title>New Project</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
                background: #333333;
            }
            .gallery{
                background: rgba(39,62,84,0.82);
                position: relative;
            }
            nav{
                background: black;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 100%;
                margin: 0 ;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 100%;
                margin: 30px ;
                padding: 0 10px;
                color: #333;
            }
            div.gallery:hover {
            border: 1px solid #777;
            }

            div.gallery img {
            width: 100%;
            height: auto;
            }

            div.desc {
            padding: 15px;
            text-align: center;
            }             
            .bottom-left {
            position: absolute;
            bottom: 8px;
            left: 16px;
            }  
            #append img{
                padding-left: 100px; 
                width: 80%;               
            } 
            strong{              
                color: #08d405;
            }                 
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                <li><a href="/auth/logout">Log out</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                <% if (user) { %>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/chat">Chat</a></li>
                <% } %>
            </ul>
        </nav>
        <ul id="append"></ul>
        <div class="container" >
          <!---<div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
              <img src="shikamaru.jpg" alt="Cinque Terre">
              <div class="bottom-left">Bottom Left</div>
            </a>
          </div>
          
          <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
              <img src="`shikamaru.jpg" alt="Cinque Terre">
            </a>
          </div>
          
          <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
              <img src="715451.png" alt="Cinque Terre">
            </a>
          </div>
          
          <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
              <img src="1077385-shikamaru-nara-wallpaper-1920x1200-for-4k.jpg" alt="Cinque Terre">
            </a>
          </div>-->
        </div>
    </body>
</html>
<script>
  var socket = io.connect('http://localhost:3000');
  socket.on('dashboard_status', function(data) {  
                console.log(data)
                for (var x=0;x<data.length;x+= 4){
                  //console.log(x)
                  //console.log('data',data[x])
                  var q = data[x]
                  var details = {}
                  details.username = q[0].username
                  details.dp = q[0].dp
                  details.status = data[x+1].status
                  details.img = data[x+3].img.data.data
                  var images = data[x+3].img
                  console.log('img',images)
                  
                  var html=""
                  
                  var arrayBufferView = new Uint8Array(details.img);
                  var blob = new Blob( [ arrayBufferView ], { type: "image/jpeg" } );
                  var urlCreator = window.URL || window.webkitURL;
                  var imageUrl = urlCreator.createObjectURL( blob );                  
                  html += "<div class='row final'><strong>"+details.username+"</strong></div><div class='row final'><p>"+details.status+"</p><img src='"+imageUrl+"'></div>"
                  $("#append").append(html);    
                  //console.log(details)                  
                }
                /*
                var html=""
                    var arrayBufferView = new Uint8Array(data.status_img.data);
                    var blob = new Blob( [ arrayBufferView ], { type: "image/jpeg" } );
                    var urlCreator = window.URL || window.webkitURL;
                    var imageUrl = urlCreator.createObjectURL( blob );
                    html += "<div class='row final'><strong>"+data.username+"</strong></div><div class='row final'><p>"+data.status+"</p><img src='"+imageUrl+"'</div>"
                    $("#append").append(html);    
                    */                    
        });
        
</script>