<html>
    <head>
            <meta name="google-signin-client_id" content="907924389843-pk52vvqum234leeg4ohd0imn24b9bnah.apps.googleusercontent.com">
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    </body>
</html>



<script>
    function onSignIn(googleuser){
        var profile = googleuser.getBasicProfile()
        console.log(profile)
    }
    /*
var currentDate = new Date();
var date = currentDate.getDate();
var month = currentDate.getMonth();
var year = currentDate.getFullYear();

var dateString = (date + 1) + "-" + (month + 1) + "-" + year;
console.log('dateString',dateString)
$(document).ready(function() {
    document.cookie = "username=Sahil; expires="+dateString;
});*/
</script>
