<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>        
    </head>
    <body>
       Message <input type="text" id="message" >
       <div name="chatroom" id="chatroom" cols="30" rows="10">
       <button id="send_message">Send</button>
    </body>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>    
</html>